<footer class="center">
    <div id="ftMapContact">
        <div id="ftMap">
            <iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48689.88563145275!2d-111.73048217605346!3d40.29534213703157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d7804e4b45119%3A0x642bc3cf90b21ed1!2sOrem%2C%20UT!5e0!3m2!1sen!2sus!4v1617488001988!5m2!1sen!2sus" loading="lazy"></iframe>
        </div>
        <div id="ftContact">
            <h4>Contact Information</h4>
            <p><i class="material-icons s15">place</i>&nbsp;Fake Address State Street, Orem, UT 84057<br>
            <i class="material-icons s15">&#xe554;</i>&nbsp;footer@partials.org<br>
            <i class="material-icons s15">&#xe551;</i>&nbsp;1-565-300-7000</p>
            <a href="https://www.facebook.com/" target="_blank"><img src="images/facebook.png" alt="Facebook" class="social" /></a>
            <a href="https://twitter.com/" target="_blank"><img src="images/twitter.png" alt="Twitter" class="social" /></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="images/instagram.png" alt="Instagram" class="social" /></a>
        </div>
    </div>
    <div id="classData">
        <p>&copy; <span id="currentYear"></span> | Leon Visnaw |<br>
        Last Updated: <span id="currentDate"></span></p>
    </div>
</footer>
