<!-- Message Center
    <section class="msgCenter" id="message">
        <h4>Saturday, June 12</h4>
        <p>Fireworks! 10:00 P.M. at the City Center Park.</p>
        <p>Come early, there will be a parade, good food, and carnival rides. See you there.</p>
    </section>  -->
<!-- HEADER HERE -->
<header class="clearfix">
    <section class="center">
        <img src="/images/slvJewelry.png" alt="SLV Jewlery Logo" />
    </section>
</header>   
<!-- NAVIGATION HERE 
<nav class="clearfix">
    <button onclick="toggleMenu()">&#9776;</button>
    <div class="center">
        <ul id="primaryNav" class="hide">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="local.html">Local Businesses</a></li>
            <li><a href="form.html">Membership</a></li>
        </ul>
    </div>
</nav> -->   