<!-- HEADER HERE -->
<header class="clearfix">
    <section class="center">
        <img src="/images/slvJewelry.png" alt="SLV Jewlery Logo" />
    </section>
</header>   
<!-- NAVIGATION HERE -->
    <nav class="clearfix">
        <button onclick="toggleMenu()">&#9776;</button>
        <div class="center">
            <ul id="primaryNav" class="hide">
                <li><a href="index.html">Home</a></li>
                <li><a href="local.html">Product</a></li>
                <li><a href="form.html">Partner</a></li>
                <li><a href="cart.html"><img src="images/bag.png"></a></li>
            </ul>
        </div>
    </nav>